.navbar {
  width: 100%;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: var(--navbar-bg);
  color: var(--text-color);
}

/* Styling for the logo section */
.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 5%;
}

.logoSection img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .logoSection {
    justify-content: flex-start;
    width: 80px;
    height: 80px;
  }
}

/* Styling for the search section */
.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  width: 100%;
}

@media (min-width: 768px) {
  .searchSection {
    justify-content: flex-start;
  }
}

/* Styling for the theme toggle */
.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .themeToggle {
    justify-content: flex-end;
  }
}

/* Styling for the menu button */
.menuButton {
  font-size: 24px;
  color: var(--icon-color); 
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  z-index: 1500;
}

html[data-theme="dark"].menuButton {
  color: white; 
}

.menuButton.active {
  transform: rotate(180deg); 
}

/* Styling for the sidebar */
.sidebar {
  width: 260px;
  position: fixed;
  left: -260px; 
  top: 0;
  height: 100vh;
  background: var(--sidebar-bg); 
  transition: left 0.3s ease-in-out; 
  padding: 20px;
  z-index: 1500;
}

.sidebar.open {
  left: 0; 
}
