.container {
  position: relative;
  display: inline-flex;
}

/* Styling for the button */
.button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 0.5px solid var(--glow-color);
  box-shadow: 0px 0px 5px var(--glow-color), 0px 0px 12px var(--glow-color); 
  padding: 8px 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .container {
    margin-right: 0.5rem;
  }

  .button {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .icon {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
  }

  .dropdown {
    width: 140px;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 5px 10px;
    font-size: 0.85rem;
  }

  .icon {
    margin-left: 0.5rem;
  }

  .dropdown {
    width: 130px;
  }
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 5px var(--glow-color), 0px 0px 10px var(--glow-color);
}

/* Styling for the icon */
.icon {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  margin-left: 2rem;
}

/* Styling for the dropdown menu */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 10;
  margin-top: 5px;
  max-height: 200px; 
  overflow-y: auto;
}

.dropdown::-webkit-scrollbar {
  width: 6.5px; /* Scrollbar width */
}

.dropdown::-webkit-scrollbar-thumb {
  background: var(--button-hover-bg); 
  border-radius: 6px;
  border: 1px solid var(--card-bg); 
}

.dropdown::-webkit-scrollbar-track {
  background: var(--card-bg); 
  border-radius: 6px;
}

/* Styling for dropdown items */
.item {
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: var(--button-hover-bg);
}
  